html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    scroll-behavior: smooth;
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  a[href="#top"] {
    margin: 1rem;
    display: block;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
  }

  p {
    margin: 0;
  }

  h2 {
    margin-top: 50vh;
    text-align: center;
  }

  img {
    margin: auto;
    display: block;
    max-width: 100%;
    height: auto;
  }

  .menu {
    margin-bottom: 100vh;
    font-size: 125%;
  }

  .menu li {
    margin-bottom: 1rem;
  }

  .container {
    margin: 0 auto;
    width: 80%;
    height: 80vh;
    background-color: #222;
    border: medium solid #000;
  }

  .item {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #666;
    border: medium solid #999;
  }
  
/* Grid Explicita */
/* se llama asi porque explicitamente vamos a tener filas y columnas */
.grid-explicit{
  display: grid;
  
  /* Grid de 3c x 3f */
  grid-template-columns: 50% 100px 1fr;
  grid-template-rows: 2rem 20vh 30%;
  
  /* Grid de 5c x 4f */
  grid-template-rows: repeat(4, auto);  /* auto es q se adecua a su contenido */
  grid-template-columns: repeat(5, 1fr);  /* 1fr es el espacio del contenedor entre la cantidad de elementos (5) */
  grid-template-rows: repeat(4, 1fr); 
    
  /* Grid de 4c x 5f */
  grid-template-columns: 20% repeat(2,30%) 20%;
  grid-template-rows: repeat(5, auto);
  
  /* Estas 3 propiedades para espaciado ya están obsoletas */
  grid-row-gap: 1rem;  /*  espacio fila */
  grid-column-gap: 2rem;  /*  espacio columna */
  grid-gap: 100px 0;  /*  1er valor: espacio fila, 2do valor: espacio columna */
  
  /* Estas 3 propiedades para espaciado si están vigentes */
  column-gap: 2rem;
  row-gap: 1rem;
  gap: 1vh 1vw;
  gap: 0;
}

/* Ahora veremos como ocupar elementos en cierto nro de celdas con la ayuda de las grid lines (líneas) */
.grid-explicit .item:nth-child(10){
  color: aquamarine;
  /* grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3; */
  grid-row: 2 / 3;  /* grid-row-start / grid-row-end */
  grid-column: 3 / 5; /* grid-column-start / grid-column-end */
  /* grid-area: grid-row-start / grid-row-end / grid-column-start / grid-column-end */
  grid-area: 2/3/3/5;
}

.grid-explicit .item:nth-child(12){
  color: aqua;
  grid-row: span 2; /* span es donde empieza el elemento y desde ahí con el valor 2 le decimos q cuente dos celdas */
  grid-column: span 3;
}
/* span = celda */
.grid-explicit .item:nth-child(15){
  color: blanchedalmond;
  grid-row: 1 / span 3; /* estamos diciendo q se posicione en línea N° 1 de fila y a partir de ahí q se desplaze 3 filas */
  grid-column: 1 / span 3;  /* estamos diciendo q se posicione en línea N° 1 de columna y a partir de ahí q se desplaze 4 columnas */
}
/* NOTA: */
/* Si ya empezamos a definir las posiciones de los elementos de nuestra área de maquetación, es mejor ir definiendo todas las áreas exp-
licitamente y no dejar q el flujo de la grid posicione en base a su algoritmo los elementos q explicitamente no les hayamos dicho de q
línea a q línea o de q celda a q celda, es decir q alineemos todos los elementos explicitamente para q se vayan posicionando en las 
áreas q hayamos definido, xq muchas veces al dejar q los elementos se acomoden x el flujo de grid nos va a dar comportamientos extraños */


/* Grid con Nombres de Línea */
/* Ahora veremos como ponerles nombres a nuestras líneas, ojo deben ser nombres q tengan sentido para después no confundirnos */
.grid-line-names{
  display: grid;
  /* Grid de 3c x 3f */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  
  /* como tenemos 3 columnas x 3 filas, entonces tmb tenemos 4 líneas de columna x 4 líneas de fila,
  para nombrar las líneas de columna tenemos q usar los [], veamos */
  grid-template-columns: [linea-c1] 1fr [linea-c2] 1fr [linea-c3] 1fr [linea-c4];  /* 1fr es el valor de la celda */
  
  /* y lo mismo hacemos para las filas */
  grid-template-rows: [linea-f1] auto [linea-f2] auto [linea-f3] auto [linea-f4]; 
}

/* Ahora queremos q el item 3 ocupe la ultima fila en sus 3 columnas, veamos */
.grid-line-names .item:nth-child(3){
  color: aqua;
  grid-column: linea-c1 / linea-c4;
  grid-row: linea-f3 / linea-f4;
  
  /* OJO: en Grid el valor x defecto de las filas es la altura q tiene su contenido */
  /* Esto de ponerle nombres a las líneas es muy engorroso x el mucho texto, pero en el sgte tema veremos como posicionar los elementos
    con el nro de línea y con la técnica de las áreas (grid-area), donde en vez de darle nombres a las líneas se le da a las áreas. */
}
.grid-areas {
   display: grid;
   grid-template-columns: 1fr 200px;
   grid-template-rows: 100px repeat(2,1fr) 60px;
   grid-template-areas: /* con esta propiedad especificamos áreas de la cuadrícula con nombre, estableciendo las celdas de la cuadrícula y asignándoles nombres. */
   'header header'
   'content sidebar'
   'content .' /* aquí en las definiciones de áreas el . nos sirve para dejar una celda vacía */
   'footer footer';
}
.header {
   grid-area: header; /* con grid-area se especifica el tamaño y la ubicación de un elemento de cuadrícula dentro de una cuadrícula contribuyendo con una línea, un intervalo 
   o nada (automático) a su ubicación en la cuadrícula */
}
.content {
   grid-area: content;
}
.sidebar {
   grid-area: sidebar;
}
.footer {
   grid-area: footer;
}